/*

This is an example userChrome.css file. Use it if you don't already have a userChrome file.
If you already have one, append the import statement below at the top of your userChrome file.

*/

@import "natsumi/natsumi.css";

/* You can import additional mods above, or add your own userchrome CSS below. */

@import "pineapple-fried/pineapple-fried.css";

@import "ToucanTweaks/ToucanTweaks.css";

/* Remove new tab background color white tint in 1.8b+ */
.browserStack browser {
    background-color: transparent !important;
}

/* Pinned extensions */
#TabsToolbar-customization-target {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  gap: 3px !important;
  justify-content: space-between !important;
  height: calc(100% - 37px) !important;

  #tabbrowser-tabs {
    min-width: 100% !important;
    contain: inline-size !important;
  }

  .unified-extensions-item {
    margin-inline: 2px !important;
    border-bottom: 0px !important;
    padding: 0px !important;
    height: 32px !important;
    width: 32px !important;
    margin-bottom: 2px !important;
    flex-grow: 1 !important;
    order: -1 !important;
  }

  toolbarbutton:not([id="tabs-newtab-button"]) {
    height: 32px !important;
    width: 32px !important;
    flex-grow: 1 !important;
    padding: 0px !important;

    toolbarbutton,
    stack {
      --toolbarbutton-active-background: transparent !important;
      --toolbarbutton-hover-background: transparent !important;
    }

    .toolbarbutton-badge {
      display: none !important;
    }

    .toolbarbutton-text {
      display: none !important;
    }
  }

  >toolbarbutton:not([id="tabs-newtab-button"]),
  >toolbaritem {
    background-color: var(--zen-toolbar-element-bg) !important;
  }

  >toolbarbutton:not([id="tabs-newtab-button"]):hover,
  >toolbaritem:hover {
    background-color: var(--tab-selected-bgcolor) !important;
  }


  >toolbarbutton:not([id="tabs-newtab-button"]):is([open], [checked]),
  >toolbaritem:has(toolbarbutton:is([open], [checked])) {
    background-color: var(--tab-selected-bgcolor) !important;
  }

  >toolbarbutton:not([id="tabs-newtab-button"]) {
    margin-inline: 2px !important;
    margin-bottom: 2px !important;
    order: -1 !important;
  }

  #zen-profile-button {
    .toolbarbutton-icon {
      display: none !important;
    }
  }
}